.middle {
  background-image: url("/assets/images/catalogue-bg.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .button{
    background-color: green;
  }
