<main class="middle">
  <section class="py-5 text-center">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold text-black">Welcome!!!</h1>
      <h2 class="lead text-black">
        This is Breaking Bad Character Catalogue
      </h2>
      <p>
        <a class="btn btn-outline-dark button" routerLink="add" >
          {{"catalogue.ADD_CHARACTER" | translate }}
        </a>
      </p>
    </div>
  </section>

  <section>
     <app-character-list>

     </app-character-list>

  </section>
</main>
