<div *ngIf="character$ | async as character" class="bgColor">
  <button (click)="goBack()" class="button">{{"catalogue.GO_BACK" | translate}}</button>
  <div class="container">
    <img [src]="character.img" />
    <div class="info">
      <div class="row">
        <div class="title" >{{"catalogue.NAME" | translate}}</div>
        <div class="value" >
          {{ character.name }}
        </div>
      </div> 
      <div class="row">
        <div class="title">{{"catalogue.PORTRAYED" | translate}}</div>
        <div class="value">{{character.portrayed}}</div>
      </div>
      <div class="row">
        <div class="title">{{"catalogue.NICKNAME" | translate}}</div>
        <div class="value">{{character.nickname}}</div>
      </div>
      <div class="row">
        <div class="title">{{"catalogue.BIRTHDAY" | translate}}</div>
        <div class="value">
          {{ character.birthday }}
        </div>
      </div>
      <div class="row">
        <div class="title">{{"catalogue.OCCUPATION" | translate}}</div>
        <div class="value">
          {{ character.occupation.join(", ") }}
        </div>
      </div>

      <div class="row">
        <div class="title">{{"catalogue.STATUS" | translate}}</div>
        <div class="value">
          {{ character.status }}
        </div>
      </div>
      <div class="row">
        <div class="title">{{"catalogue.REVIEW" | translate}}</div>
        <div class="value">
          {{ character.review }}
        </div>
      </div>
      <div class="row">
        <div class="title">{{"catalogue.RATING" | translate}}</div>
        <div class="value">
          {{character.rating}}/5
        </div>
      </div>
    </div>
  </div>
</div>
