
  .middle {
    background-image: url("/assets/images/auth-bg.jpg");
  
    height: 10%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    

  
  form {
    width: 340px;
  }
 
  .button{
    background-color: black;
  }