<main class ="middle">
  <section class="py-3 text-center">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-white">
        {{ "catalogue.ADD_CHARACTER" | translate }}
      </h1>
    </div>
  </section>

  <div class="py-5">
    <div class="container d-flex justify-content-center flex-column w-100">
      <div class="row d-flex justify-content-center">
        <div class="search-form d-flex justify-content-center flex-column">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchKey"
            placeholder="{{ 'catalogue.ENTER_CHARACTER_NAME' | translate }}"
          />

          <button class="btn btn-outline-secondary mt-2 button" (click)="search()">
            {{ "catalogue.SEARCH" | translate }}
          </button>
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="searchHasError"
          >
            {{ "errors.ENTER_CHARACTER_NAME" | translate }}
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-2 flex-row mb-3">
        <div class="d-flex justify-content-center">
          <span
            (click)="fetchCharacter(name)"
            class="badge rounded-pill bg-success ms-1"
            *ngFor="let name of lastThreeSearches"
            >{{ name }}</span
          >
        </div>
      </div>

      <div *ngIf="selectedCharacter$ | async">
        <div *ngFor="let selectedCharacter of selectedCharacter$ | async">
          <div class="character">
            <div class="profile">
              <h2>{{ selectedCharacter.name }}</h2>
              <div>
                <img
                  class="image"
                  [src]="selectedCharacter.img"
                  [alt]="selectedCharacter.name"
                />
              </div>
            </div>
            <div class="review">
              <textarea
                rows="10"
                [id]="selectedCharacter.char_id"
                type="text"
                minlength="10"
                required
                #review="ngModel"
                [(ngModel)]="selectedCharacter.review"
                (ngModelChange)="formHasError = false"
                placeholder="{{ 'catalogue.ENTER_REVIEW' | translate }}"
              >
              </textarea>
              <div
                class="alert alert-danger mt-2"
                role="alert"
                *ngIf="
                  formHasError &&
                  selectedCharacter.char_id === selectedCharacterId
                "
              >
                {{ "errors.ENTER_VALID_CHARACTERS" | translate }}
              </div>

              <div>
                <span class="title">{{"catalogue.RATING" | translate}}</span>
                <span
                  (click)="selectedCharacter.rating = star"
                  *ngFor="let star of stars"
                  class="fa fa-star star"
                  [class.checked]="star <= selectedCharacter.rating"
                ></span>
              </div>

              <button
                (click)="addCharacter(selectedCharacter)"
                class="add"
                [disabled]="isLoading"
              >
              {{"catalogue.ADD" | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
