img {
    height: 50px;
    
  }
  
  .lang {
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
  
    &.ka {
      background: url("/assets/images/ka.png");
    }
  
    &.en {
      background: url("/assets/images/en.png");
    }
  
    &.inactive {
      filter: grayscale(100%);
    }
  }