.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;

  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(153, 35, 35);
    border-color: rgb(153, 35, 35) transparent rgb(153, 35, 35) transparent;
    animation: loading-spinner 1.2s linear infinite;
  }
}
